@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@300&display=swap');
:root {
    --primary-color: #2E6DA7;
    --secondary-color: #A5D8EC;
    --accent1-color: #046CC4;
    --accent2-color: #0B7CCE;
  
    --heading-font: 'Open Sans', sans-serif;
    --paragraph-font: 'Lato', sans-serif;
  
    --nav-background-color: #046CC4;
    --nav-link-color: #A5D8EC;
    --nav-hover-link-color: #2E6DA7;
    --nav-hover-background-color: #0B7CCE;
  }
  body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }
  header {
    padding: 20px;
    background-color: var(--accent1-color);
  }
  p {
    padding: 25px;
  }
  nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }